#wrap,.nav,.main,.foot{ 
    width:100%;
}
#wrap{ 
    background-color:#fff; 
}
.center{
    width: 1090px;
    margin:0 auto;
}
.nav{ 
    height:80px; 
    background-color:#FFFFFF
}
.logo{
    width: 266px;
    float:left;
    padding-top: 35px;
}
.please{
    float:right;
    line-height: 100px;
    font-size: 14px;
}
.aregister{
    color: red;
}
.main{ 
    height:550px; 
    background-color:#FFFFFF;
}
.ss{
    margin:10px auto;
    width: 1090px;
    height:550px;
    box-shadow: 0 0 50px -10px rgba(0,0,0,.2);
}
.login{
    float: left;
    width:690px;
    height:550px;
}
.mrs{
    height: 40px;
    font-size: 25px;
    font-weight: 20px;
    text-align: left;
    line-height: 40px;
}
.mright{
    float: right;
    width: 332px;
    height: 490px;
    margin:30px;
}
.mcenter{
    overflow: hidden;
}
.inp1{
    width: 320px;
    height: 47px;
    margin-top: 15px;
    font-size: 15px;
    padding-left: 8px;
    color: #333333;
    border: 1px solid #cccccc; 
}
.inp2{
    width: 150px;
    height: 47px;
    margin-top: 15px;
    font-size: 15px;
    padding-left: 8px;
    color: #333333;
    border: 1px solid #cccccc; 
    border-right: none;
}
.code{
    display: inline-block;
    position: relative;
    width: 168px;
    height: 47px;
    margin-top:15px;
    font-size: 15px;
    color: #333333;
    border: 1px solid #cccccc; 
    border-left: none;
    text-align: center;
}
.vcode{
    width:64px; 
    height:30px;
    margin-top:8px;
}
.acode{
    cursor:pointer;
    margin-left: 40px;
    margin-bottom: 10px;
    color: #333333;
    position: absolute;
    left: 40px;
    top:12px; 
}
.mcenter li{
    display: flex;
    align-content: center;
}
.btnlogin{
    width: 330px;
    height: 47px;
    margin-top: 40px;
    font-size: 15px;
    padding-left: 8px;
    background: #2e8ae4;
    color: #fff;
    border: 1px solid #cccccc; 
}
.jizhu{
    line-height: 30px;
    color: #999;
}
.checkbox{
    float: left;
    width: 15px;
    height: 15px;
    margin-top:8px;
    margin-right:5px;
    vertical-align: middle; 
}
.zhu{
    margin-left:50px;
    float: right;
}
.foot{ 
    height:100px; 
    background-color:#FFFFFF
}
.u1{
    margin-left:270px;
    margin-top: 35px;
}
.u1 li{
    float: left;
    padding-right: 10px;
    font-size: 12px;
    color: #999999;
}
.p1{
    padding-top:10px;
    font-size: 12px;
    color: #999999;
    text-align:center;
}

