@charset 'utf-8';

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
    margin: 0;
    padding: 0;
    font-weight: normal;
    color: #333;
    font-size: 12px;
    font-family: tahoma, Arial, microsoft yahei, Helvetica, "Helvetica Neue", "Hiragino Sans GB", "5b8b4f53", "sans-serif";
}

* {
    margin: 0;
    padding: 0;
}

a,
u {
    text-decoration: none;
}

em,
i {
    font-style: normal;
}

b,
strong {
    font-weight: normal;
}

ul,
ol,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 16px;
    font-weight: normal;
}

body {
    font-family: "微软雅黑"
}

input {
    outline: none;
}

img {
    border: 0;
    display: block;
}

.clear_fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.clear_fix {
    zoom: 1;
}

/* .table-bor{
    border-bottom: 1px solid #cccccc;
} */
.main{
    width: 100%;
    margin: 0 auto;
}
.top{
    height: 40px;
    width: 100%;
    background:#fbfbfb;
    line-height: 40px;
    font-size: 14px;
    position: relative;
}
.top p{
    float: left;
    color: #999999;
}
.top ul{
    float: right;
}
.top ul li{
    float: left;
    padding-left:10px;
}
.top ul li a{
    color: #999999;
}
.top ul li a:hover{
    color: #000;
}
.top ul li:nth-child(4) a{
    color: #0069c8;
}
.top ul li:nth-child(4) span{
    border: 1px solid #ccc;
    position: absolute;
    top: 30px;
    left: 1000px;
    z-index: 100;
    display: none;
}
.top ul li:nth-child(4) span img{
    width: 140px;
    height: 120px;
}
.top ul li:nth-child(4) a:hover span{
    display: block;
}



.nav{
    height: 128px;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #2e8ae4;
}
.log{
    height: 37px;
    width: 100%;
    margin-top: 20px;
}
.log ul li{
    float: left;
}
.search{
    width: 460px;
    height: 34px;
    border: 2px solid #2e8ae5;
    margin-left: 165px;
    border-radius: 17px;
}
.searchR{
    height: 30px;
    width: 388px;
    border-radius: 17px;
    padding-left: 10px;
    outline: none;
    border: none;
    float: left;
}
.btn{
    display: block;
    height: 30px;
    width: 68px;
    background:linear-gradient(to right,#1cdde3,#2e8ce5);
    border-radius: 14px;
    float: right;
    line-height: 34px;
    text-align: center;
    padding-top: 0px;
}
.btn span{
    font-size: 18px;
    color: #fff;
}
.car{
    display: block;
    text-align: center;
    line-height: 35px;
    width: 166px;
    height: 35px;
    border: 1px solid #0069c8;
    border-radius: 5px;
    margin-left: 78px;
    font-size: 14px;
    position: relative;
}
.car span{
    padding-right: 5px;
    color: #0069c8;
}
.mycar{
    width: 300px;
    height: 70px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    display: none;
    position: absolute;
    top: 97px;
    left: 1013px;
    z-index: 100;
}
.l1{
    width: 300px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    font-size: 12px;
}
.l2{
    width: 300px;
    height: 40px;
    line-height: 40px;
    background: #ccc;
    font-size: 12px;
}
.l2 a{
    display: block;
    width: 80px;
    height: 24px;
    line-height: 10px;
    border-radius: 5px;
    color: #fff;
    float: right;
    background: rgb(255, 0, 0);
    font-size: 12px;
    margin: 8px 5px 0 0; 
}
.log ul li:nth-child(3):hover .mycar{
    display: block;
}
.num{
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 11px;
    background: #e83632;
    position: absolute;
    top: 50px;
    left: 1228px;
    text-align: center;
    color: #fff;
}
.snav{
    width: 100%;
    height: 34px;
    margin-top:1px;
}
.snav ul{
    width: 500px;
    height: 20px;
    margin-left: 440px;
}
.snav ul li{
    float: left;
    font-size: 12px;
    margin-left: 10px;
}
.snav ul li a{
    color: #6f6e6e;
}
.list{
    width: 100%;
    height: 38px;
}
.yincang{width:180px;
        background: pink;
    z-index: 2}
.list ul li:nth-child(1) a{
    margin-left: 5px;
}
.list ul li:nth-child(1) a,.list ul li:nth-child(2) a{
    float: left;
    height: 38px;
    width: 70px;
    line-height: 38px;
    text-align: center;
    font-size: 12px;
    transition: background 1.5s;
}
.list ul li:nth-child(3) a{
    float: left;
    height: 38px;
    width: 100px;
    line-height: 38px;
    text-align: center;
    font-size: 12px;
    transition: background 1.5s;
}
.list ul li:nth-child(4) a{
    float: left;
    height: 38px;
    width: 80px;
    line-height: 38px;
    text-align: center;
    font-size: 12px;
    transition: background 1.5s;
}
.list ul li a:hover{
    background:#2e8ae4;
    color: #fff;
}
.list p{
    width: 178px;
    height: 38px;
    padding-left: 16px;
    line-height: 38px;
    float: left;
    background: #2e8ae4;
    font-size: 12px;
}
.list p a{
    color: #fff;
}
.list p span{
    margin-right: 5px;
}



/* 列表 */
.crumb {
    background: #999;
    height: 35px;
    margin: 0 auto;
    line-height: 35px;
    width: 1140px;
}

.crumb a {
    color: #666;
    display: inline-block;
}

.crumb span {
    padding: 0 5px;
}

.crumb zi {
    z-index: 1
}

.inside_pro {
    background: #FFF;
}

.inside_border {
    width: 1210px;
    margin: auto;
    border-bottom: 1px solid #f0f0f0;
    min-height: 36px;
    line-height: 36px;
}

/* .clearfix:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
        width: 100%;
    } */
.inside_gray {
    float: left;
    width: 100px;
}

.inside_border ul {
    float: left;
    width: 1080px;
}

.inside_border ul li {
    float: left;
    width: 108px;
}

.inside_border ul li a {
    padding: 5px 7px;

}

.insider_screen {
    background: #FFF
}

.screen_wrap {
    margin: 10px auto;
    width: 1210px;
    height: 40px;
    line-height: 40px;
}

.screen_ul {
    float: left;
}

ul.screen_ul li {
    float: left;
    margin-right: 30px;
}

.screen_ul li a {
    padding: 7px;
    display: inline;
}

.kuang {
    color: #2e8ae4;
    border: 1px solid #2e8ae4 !important;

}

ul.screen_ul li {
    float: left;
    margin-right: 30px;
}

.screen_ul li a {
    padding: 7px;
    display: inline;
}

.checkboxFive {
    width: 15px;
    position: relative;
    display: inline-block;
    margin-top: 1px;
}

.input_check {
    width: 16px;
    height: 16px;
    vertical-align: -4px;
    margin-right: 3px;
}

#IsStocks {
    opacity: 0;
}

.screen_ul li label {
    cursor: pointer;
}

.input_check label {
    top: 6px !important;
}

.checkboxFive label {
    cursor: pointer;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 17px;
    left: 0;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.only-check {
    position: absolute;
    top: -12px;
    left: 20px;
    width: 52px;
    line-height: 60px
}

.screen_ul li label {
    cursor: pointer;
}

.screen_right {
    float: right;
}

/* 商品详情 */
td {
    margin-right: 30px;
    width: 30px;
    height: 36px;
}

td:hover {
    box-shadow: 1px 1px 10px #333
}

.tab-nav {
    border-top: none;
    background-color: #FFF
}

.nav-list {
    width: 271px;
    height: 427px;
    background: #FFF;
    position: relative;
    overflow: hidden;
    margin-top: 15px;
    float: left;
    margin-right: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-around
}

.top-tu {
    text-align: center;
    margin-top: 20px;
}

.top-tu img {
    width: 250px;
    height: 250px;
}

.money-b {
    line-height: 27px;
    padding-bottom: 10px;
    padding: 0 10px
}

.money {
    font-size: 18px;
    color: #e83734;
}

.product-mid {
    height: 38px;
    width: 252px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 10px
}

h3 {
    width: 252px;
    height: 19px;
}

h3 a {
    font-size: 14px;
    width: 202px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product-bot {
    width: 252px;
    height: 41px;
    padding: 0 10px
}

.store_name {
    max-width: 150px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pro-left {
    float: left;
}

.pro-rig {
    float: right;
}

.hot {
    position: absolute;
    top: 0;
    right: 10px;
}


/* 结尾 */
.footer{
    height: 230px;
    width: 100%;
    background: #f6f6f6;
}
.footer .main div{
    float: left;
    margin-top: 54px;
}
.footer .main div ul{
    margin-top: 10px;
}
.footer .main div:nth-child(2){
    margin-left: 200px;
}
.footer .main div a{
    font-size: 12px;
}
.f1{
    float:right;
    margin-top:54px; 
}
.f1 li:nth-child(1){
    font-size: 20px;
    color: #2ea5ea;
}
.f1 li:nth-child(2){
    font-size: 14px;
    color: #666;
    margin-top: 5px;
}
.f1 li:nth-child(3) a{
    display: block;
    widows: 124px;
    height: 36px;
    border-radius: 10px;
    background: linear-gradient(to right,#1ae5e2,#2e90e5);
    line-height: 36px;
    color: #fff;
    margin-top: 5px;
}
.f1 span{
    color: #fff;
    font-size: 30px;
    float: left;
    margin-left: 20px;
}


.bottom{
    height: 60px;
    width: 100%;
    background: #eeeeee;
    overflow: hidden;
}
.bottom p{
    color: #666;
    font-size: 14px;
    margin-top: 5px;
}
.bottom p span{
    color: #000;
}
.bottom p:nth-child(1){
    margin-top: 10px;
}