.main{
    width: 1283px;
    margin: auto;
    position: relative;
}
.nav{
    height: 54px;
    background-color: #222222;
    position: relative;
    z-index: 100;
    
}
.nav .nav-left ul{
    float: left;
   
}
.nav .nav-left ul li{
    float: left;
    line-height: 54px;
    
}
.nav .nav-left ul li a{
    height: 54px;
    padding-left: 15px;
    padding-right: 15px;
     text-align: center;
     transition: background-color 1s;
}
.nav .nav-left ul li:hover a{
    display: block;
    background-color: #4b7dd1;
    color: #ffffff;
}
.nav .nav-center ul{
    float: left;
    margin-left: 230px;  
}
.nav .nav-center ul li{
    line-height: 54px;
    font-size: 19px;
    font-weight: 900;
}
.nav .nav-center ul li a{
    color: #ffffff;
    width: 119px;
    height: 20px;
    transition: color 1s;
}
.nav .nav-center ul li a:hover{
    color:#4b7dd1;
}
.nav .nav-right ul{
    float: right;
}
.nav .nav-right ul li{
    float: left;
    line-height: 54px;
}
.nav .nav-right ul li a{
    height: 54px;
    padding-left: 15px;
    padding-right: 15px;
     text-align: center;
     transition: background-color 1s;
}
.nav .nav-right ul li:hover a{
    display: block;
    background-color: #4b7dd1;
    color: #ffffff;
}
.nav .nav-left ul li a,.nav .nav-right ul li a{
    color: #9d9d99;
}
#list{
    height: 250px;
    width: 100%;
    background-color: #ffffff;
    position: absolute;
    top:-194px;
    display: none;
    z-index: 10;
}
#list ul{
    margin-left: 15px;
    margin-top:30px;
}
#list ul li{
    padding-top:15px;
}
#list ul li:nth-child(1){
    font-weight: 900;
}
.banner{
    height: 790px;
    position: relative;
     /* overflow: hidden;  */

}
.banner img{
    width: 100%;
    
}
#box{
    position:relative;
}
#box li{
    position:absolute;
    top:0;
    left:0;
}
#pox{
    position: absolute;
    right: 600px;
    bottom: 30px;
    width: 190px;
}
#pox li{
    float: left;
    width: 12px;
    height: 12px;
    margin: 0 8px;
    text-align: center;
    border-radius: 50%;
    cursor: default;
    background-color: #abc;
    opacity: 0.5;
}
#pox li.current{
    background-color: #ffffff;
    opacity: 1;
}
.banner-one,.banner-three{
    height: 100%;
    margin-top: 8px;
    overflow: hidden;
}
.banner-one img,.banner-three img{
    width: 100%; 
    transition: transform 1s;
}
.banner-three{
    position: relative;
}
.banner-three .theme-five{
    position: absolute;
    top:40%;
    left:60%;
}
.theme-five li:nth-child(1){
    font-size: 24px;
    letter-spacing: 3.4px;
}
.theme-five li:nth-child(2){
    font-size: 24px;
    letter-spacing: 3.4px;
    line-height: 60px
}


.banner-one img,.banner-three img:hover{
    transform:scale(1.05,1.05);
}
.banner-two,.banner-four{
    overflow: hidden;
    position: relative;
}
.banner-two ul li img,.banner-four ul li img{
    width: 50%;
    height: 50%;
    float: left;
    
}
.banner-two ul li:nth-child(1) img{
    box-sizing: border-box;
    padding-top: 8px;
    padding-right: 7px;
    overflow: hidden;
}
.banner-four ul li:nth-child(1) img{
    box-sizing: border-box;
    padding-top: 8px;
    padding-right: 7px;
    overflow: hidden;
}
.banner-two ul li:nth-child(2) img{
    box-sizing: border-box;
    padding-top: 8px;
    padding-left: 7px;
}
.banner-four ul li:nth-child(2) img{
    box-sizing: border-box;
    padding-top: 8px;
    padding-left: 7px;
}

.banner-two ul li:nth-child(3) img{
    box-sizing: border-box;
    padding-top: 15px;
    padding-right: 7px;
}
.banner-two ul li:nth-child(4) img{
    box-sizing: border-box;
    padding-top: 15px;
    padding-left: 7px;
}
.banner-two ul li{
   width: 100%; 
    height: 100%;;
    
}
.banner-two ul li img,.banner-four ul li img{
    transition: transform 1s;
}
.banner-two ul li img:hover,.banner-four ul li img:hover{
    transform:scale(1.05,1.05);
}
.banner-two .theme{
    position: absolute;
    top:4.5%;
    left: 4.5%;
}
.banner-two .theme-one{
    position: absolute;
    top:4.5%;
    left: 55%;
}
.banner-two .theme-three{
    position: absolute;
    top:55%;
    left: 4.5%;
}
.banner-two .theme-four{
    position: absolute;
    top:55%;
    left: 55%;
}
.banner-two .theme li:nth-child(1) a,.banner-two .theme-one li:nth-child(1) a,.banner-two .theme-three li:nth-child(1) a,.banner-two .theme-four li:nth-child(1) a,.banner-four .theme-six li:nth-child(1) a,.banner-four .theme-seven li:nth-child(1) a{
    font-size: 24px;
    color: #ffffff;
    letter-spacing: 3.4px;
}
.banner-two .theme li:nth-child(2) a,.banner-two .theme-one li:nth-child(2) a{
    font-size: 24px;
    color: #ffffff;
    letter-spacing: 3.4px;
    line-height: 60px
}
.banner-two .theme-three li:nth-child(2) a,.banner-two .theme-four li:nth-child(2) a,.banner-four .theme-six li:nth-child(2) a,.banner-four .theme-seven li:nth-child(2) a{
    font-size: 16px;
    color: #ffffff;
    letter-spacing: 3.4px;
    line-height: 60px
}
#btn{
    border: 2px solid #2e71f7;
    border-radius: 5px;
    background-color: rgb(0,0,0,0);
    color: #bfcac6;
    transition:background-color 1s; 
}
#btn:hover{
    background-color: #2e71f7;
    color: #ffffff;
}
#btm{
    border: 2px solid #2e71f7;
    border-radius: 5px;
    background-color: rgb(0,0,0,0);
    color: #1868ff;
    transition:background-color 1s;
}
#btm:hover{
    background-color: #2e71f7;
    color: #ffffff;
}
.banner-four .theme-six{
    position: absolute;
    top:10%;
    left: 8.5%;
}
.banner-four .theme-seven{
    position: absolute;
    top: 10%;
    left:55%;
}
